.fullContainer {
  margin-top: 10px;
  padding: 8px;
  margin-bottom: 12px;
}

.fullContainer2 {
  margin-top: 10px;
  padding: 8px;
  margin-bottom: 12px;
}

.topImage {
  height: 200px;
  width: 200px;
  margin-top: 10px;
  border-radius: 50%;
  border: 5px solid #e5e5e5;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.myTitle {
  margin-top: 10px;
  font-family: sans-serif;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  display: block;
}

.myTagline {
  text-align: center;
  margin-top: 0px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.myDescription {
  text-align: center;
  margin-top: 0px;
  padding-bottom: 10px;
}

.contactContainer {
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  padding: 8px;
  background: #018786;
}

.myContact {
  text-align: center;
  margin-top: 0px;
  color: #fff;
}

.socialContainer {
  width: 100%;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.social {
  background: #000;
  color: #fff;
  padding: 5px;
  margin: 5px;
  height: 30px;
  width: 30px;
  display: inline-table;
  text-align: center;
}

.mainTitle {
  color: rgb(16, 7, 53);
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding-bottom: 10px;
}

.personalize {
  padding-right: 10px;
  margin-top: 10px;
}

.innerTitle {
  color: #018786;
  font-weight: bold;
  border-left: 5px solid #018786;
  padding-left: 10px;
  font-size: 20px;
}

.myselfDescription {
  text-align: left;
  margin-top: 0px;
  padding-bottom: 10px;
}

.contentDiv {
  padding: 10px;
  border: 1px dotted #ccc;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ccc;
  text-align: left;
  padding: 8px;
  width: 50%;
}

tr:nth-child(odd) {
  background-color: #dddddd;
}

.singleHobby {
  width: 30%;
  position: relative;
  text-align: left;
}

.hobbyTable {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td.hobbyData, th.hobbyData {
  border: 1px solid #ccc;
  text-align: left;
  width: 30%;
}

tr.hobbyData:nth-child(odd) {
  background-color: #fff;
}

/* .skillName {
  position: absolute;
  color: #fff;
  padding-left: 10px;
  font-weight: bold;
}

.percentage {
  text-align: right;
  color: #000;
  padding-right: 10px;
}

.personalProgress{

  background: #000;
} */



.progress {
  height: 26px;
  width: 100%;
  background-color: #c9c9c9;
  
  margin-top: 10px;
  margin-bottom: 4px;
  
  
  
  
  
}

.bottomSpan{

  float: right; 
  padding-right: 5px; 
  
  padding-top: 5px;
}

.singleContent{

  position: relative;
}


@media(min-width:320px){

  .bottomSpan{
    font-size: 8px;
  }
}

@media(min-width:360px){

  .bottomSpan{
    font-size: 10px;
  }
}

@media(min-width:410){

  .bottomSpan{
    font-size: 12px;
  }
}

@media(min-width:1000){

  .bottomSpan{
    font-size: 12px;
  }
}


/* .progress:before {
  content: attr(data-label);
  font-size: 0.8em;
  position: absolute;
  text-align: left;
  top: 5px;
  left: 0;
  right: 0;
  padding-left: 10px;
} */

.progress:before {
  content: attr(data-label);
  font-size: 0.8em;
  position: absolute;
  text-align: right;
  top: 5px;
  left: 0;
  right: 0;
  padding-right: 10px;
}

.progress .value  {
  
  display: inline-block;
  height: 100%;
  padding-left: 5px;
  color: #fff;
  
}




.style1{

  background-color: #337ab7;
}

.style2{

  background-color: #d9534f;
}

.style3{

  background-color: #f0ad4e;
}

.style4{

  background-color: #5bc0de;
}

.style5{

  background-color: #5cb85c;
}

.style0{

  background-color: #c9c9c9;
}

/* Small Screen*/

@media (min-width: 200px) {
  .fullContainer {
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);
    width: 100%;
  }
  .fullContainer2 {
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);
    width: 100%;
  }
  td, th {
    border: 1px solid #ccc;
    text-align: left;
    padding: 8px;
    width: 50%;
  }
  .skillName {
    
    color: #fff;
    padding-left: 0px;
    font-size: 10px;
    padding-top: 2px;
    padding-left: 2px;
  }
  .percentage {
    text-align: right;
    color: #000;
    padding-right: 0px;
    font-size: 10px;
    padding-top: 2px;
    padding-right: 2px;
  }
}

/* Big Screen*/

@media (min-width: 1000px) {
  .fullContainer {
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);
    width: 49%;
    float: left;
    margin-right: 5px;
  }
  .fullContainer2 {
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);
    width: 49%;
    float: right;
    margin-left: 5px;
    height: 100%;
  }
  .skillName {
    
    color: #fff;
    padding-left: 10px;
    font-size: 12px;
    padding-top: 2px;
    padding-left: 10px;
  }
  .percentage {
    text-align: right;
    color: #000;
    padding-right: 12px;
    font-size: 10px;
    padding-top: 2px;
    padding-right: 10px;
  }
}
























































